<nav class="navbar-expand-md border-bottom mb-3 xsm md:ml-auto flex flex-wrap items-center text-base justify-center">
    <div class="container navbar-expand-md fixed bg-white p-4 justify-center">
        <ul class="nav inline-flex flex-wrap">
            <li class="nav-item">
                <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black "  routerLink="astro" routerLinkActive="text-dark">Astro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4 md:mx-8 txt-secondary text-center text-gray-500 hover:text-black" routerLink="land" routerLinkActive="text-dark">Landscapes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black " routerLink="birds" routerLinkActive="text-dark">Birds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black "  routerLink="street" routerLinkActive="text-dark">Street</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4 md:mx-8 txt-secondary text-center text-gray-500 hover:text-black "  routerLink="randoms" routerLinkActive="text-dark">Randoms</a>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>