<div class="container">
    <div class="row">
        <div class="col-lg shadow border  m-1">
            <div class="text-center py-24 place-items-center">
                <img src="../../assets/wired-outline-478-computer-display.gif" class="inline-flex " alt="">
                <h2>Still Working...</h2>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 mb-4" style="max-width: 300px; min-width: 300px;">
            <app-project-card>[projectName]="'Sample Angular App'"</app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 300px; min-width: 300px;">
            <app-project-card>[projectName]="'Sample java App'"</app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 300px; min-width: 300px;">
            <app-project-card>[projectName]="'Sample pythong App'"</app-project-card>
        </div> -->
    </div>
</div>