<nav class="navbar-expand-md top-0 fixed z-50 w-full border-bottom mb-3 bg-gray-600">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link txt-secondary text-white hover:text-black" href="" routerLinkActive="text-dark">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link txt-secondary text-white hover:text-black" routerLink="projects" routerLinkActive="text-dark">Projects</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link txt-secondary text-white hover:text-black" href="photo" routerLinkActive="text-dark">Photography</a>
            </li>
        </ul>
    </div>
</nav>

