<header class="text-gray-600 body-font">
    <div class=" w-full mx-auto fixed top-0 z-40 bg-white flex flex-wrap pt-5 pb-2 flex-col md:flex-row items-center">
     
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" routerlink="photo" routerLinkActive="text-dark">Photo Info</a>
          <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black "  routerLink="astro" routerLinkActive="text-dark">Astro</a>
          <a class="nav-link mx-4 md:mx-8 txt-secondary text-center text-gray-500 hover:text-black" routerLink="land" routerLinkActive="text-dark">Landscapes</a>
          <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black " routerLink="birds" routerLinkActive="text-dark">Birds</a>
          <a class="nav-link mx-4 md:mx-8  txt-secondary text-center text-gray-500 hover:text-black "  routerLink="street" routerLinkActive="text-dark">Street</a>
          <a class="nav-link mx-4 md:mx-8 txt-secondary text-center text-gray-500 hover:text-black "  routerLink="randoms" routerLinkActive="text-dark">Randoms</a>
      </nav>
    </div>
  </header>
