<section id="home" class="text-gray-600 navresp z-30 fixed left-0 ">
    <div class="px-3 py-12  flex flex-wrap">
      <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 ">
        <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
            <div class="flex-shrink-0 w-9 h-9 bg-grey-300 rounded-full inline-flex items-center justify-center" data-tooltip-target="about-tooltip" >
            <a href="#aboutMe">
                <img class="object-cover object-center rounded" alt="hero" class="rounded-full" src="./assets/person.gif">
            </a>
            </div>
            <div id="about-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              About Me
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
      </div>
      <div class="flex relative pb-20 sm:items-center md:w-2/3 ">
        <div class="flex-grow  flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-9 h-9 bg-grey-300 rounded-full inline-flex items-center justify-center" data-tooltip-target="gear-tooltip" >
            <a href="#experience">
                <img class="object-cover object-center rounded" alt="hero" class="rounded-full" src="./assets/code.gif">
            </a>
            <div id="gear-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Experience
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex relative pb-20 sm:items-center md:w-2/3">
        <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-9 h-9 bg-grey-300 rounded-full inline-flex items-center justify-center" data-tooltip-target="current-tooltip" >
            <a href="#current">
                <img class="object-cover object-center rounded" alt="hero" class="rounded-full" src="./assets/comp.gif">
            </a>
            <div id="current-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Current Projects
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex relative pb-20 sm:items-center md:w-2/3">
        <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-9 h-9 bg-grey-300 rounded-full inline-flex items-center justify-center" data-tooltip-target="contact-tooltip" >
            <a href="#contact">
                <img class="object-cover object-center rounded" alt="hero" class="rounded-full" src="./assets/mail.gif">
            </a>
            <div id="contact-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Contact Me
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-about></app-about>
<app-exper></app-exper>
<app-current></app-current>
<app-contact></app-contact>