@media (min-width: 320px){
    .navresp {
        display: none;
    }
  }
  @media (min-width: 375px){
    .navresp {
        display: none;
    }
  }
  @media (min-width: 425px){
    .navresp {
        display: none;
    }
  }
  @media (min-width: 768px){
    .navresp {
        display: none;
    }
  }
  @media (min-width: 1024px){
    .navresp {
        display: block;
    }
  }
  @media (min-width: 1440px){
    .navresp {
        display: block;
    }
  }
  @media (min-width: 2560px){
    .navresp {
        display: block;
    }
  }