#main {
    display: flex;
    padding: 12px;
    align-items: center; /* Vertical align the elements to the center */
    min-height: fit-content;
  }
  
  h5 {
    margin: 0;
  }
  
  button {
    margin-left: auto; /* Push this element to the right */
  }

@media (min-width: 320px){
    .mapresp {
        display: none;
    }
}
@media (min-width: 375px){
    .mapresp {
        display: none;
    }
}
@media (min-width: 425px){
    .mapresp {
        display: none;
    }
}
@media (min-width: 768px){
    .mapresp {
        display: block;
    }
}
@media (min-width: 1440px){
    .mapresp {
        display: block;
    }
}
@media (min-width: 2560px){
    .mapresp {
        display: block;
    }
}